* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Space Mono', monospace;
    /* line-height: 1.2; */
    /* background-color: white; */
    color: black;
    /* text-align: center;
    font-size: 2rem; */
    font-family: 'Lora', serif;
}

body {
    /* background: linear-gradient(to right, white 0%, white 50%, black 50%, black 100%); */
    width: 100%;
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    /* background-color: lightgreen; */
    text-decoration: line-through;
}

a:active {
    text-decoration: none;
}

.welcome {
    position: absolute;
    bottom: 100%;
    right: 0;
    color: black;
}

h3 {
    color: black;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 3em;
    /* animation: type 3s steps(12);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
    border-right: 4px solid black;
    width: 12ch; */
}

.author {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    background-color: seashell;
}

.begin {
    text-align: center;
}

.rel-poem {
    position: absolute;
    right: 20%;
    bottom: 30%;
}


/* h2::before {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    color: white;
    width: 50%;
    overflow: hidden;
} */

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 75ch;
    }
}

a:visited {
    color: purple;
    text-decoration: line-through;
}

h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 2px;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    font-family: 'Space Mono', monospace;
}

.mirror {
    display: inline-block;
    font-size: 30px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    right: 0;
    top: 0;
}

.mirror {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.contents {
    position: absolute;
    right: 0;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-kerning: normal;
}

.possibilities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 750px;
}

.second-stanza {
    position: absolute;
    left: 20%;
}

.third-stanza {
    position: absolute;
    left: 40%;
}

.fourth-stanza {
    position: absolute;
    left: 60%;
}

.fifth-stanza {
    position: absolute;
    left: 80%;
    top: 50%;
}

.middle {
    position: absolute;
    right: 0;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: justify;
}